.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #DAAB1D;
  height: 128px;
  width: 100%;
  border: 1px solid #979797;
}
@media (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.header .logo {
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  margin: 10px 0px 10px 80px;
}
@media (max-width: 500px) {
  .header .logo {
    font-size: 20px;
    margin: 0px;
  }
}
.header nav {
  margin: 0px 80px 0px 0px;
}
@media (max-width: 500px) {
  .header nav {
    margin: 0px;
  }
}
.header nav a {
  text-decoration: none;
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  margin: 10px;
}
@media (max-width: 500px) {
  .header nav a {
    margin: 5px;
  }
}
.sharing-visual {
  width: 100%;
  height: auto;
}
.tagline {
  margin-top: -900px;
  margin-bottom: 850px;
  color: Gainsboro;
  font-family: "Comic Sans MS";
  font-size: 40px;
  text-align: center;
}
.intro {
  display: flex;
  width: 90%;
}
.intro .about {
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 20px;
  margin: 0 20px 0 120px;
}
.intro .intro-img {
  width: 100%;
  height: auto;
}
.community {
  display: flex;
  margin-left: 120px;
}
.community .community-img {
  width: 30%;
  height: 30%;
  margin: 100px 40px 20px 0;
  box-shadow: -10px 10px 5px CornflowerBlue;
}
.community .community-content {
  margin: 80px 40px 20px 20px;
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 20px;
}
.trust {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.trust .trust-img {
  width: 30%;
  margin: 100px 120px 20px 0;
  box-shadow: 10px 10px 5px grey;
}
.trust .trust-content {
  margin: 80px 40px 20px 200px;
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 20px;
  width: 50%;
  text-align: end;
}
.team {
  display: flex;
  margin-left: 120px;
}
.team .team-img {
  width: 30%;
  height: 30%;
  margin: 100px 40px 20px 0;
  box-shadow: -10px 10px 5px red;
}
.team .team-content {
  margin: 80px 40px 20px 20px;
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 20px;
}
.team .click {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  background-color: red;
  color: #EDE3C2;
  font-family: "Avenir Next";
  font-size: 24px;
}
.team .extra-btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  background-color: white;
  color: red;
  font-family: "Avenir Next";
  font-size: 24px;
}
.team i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.team .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.member {
  display: flex;
  flex-wrap: wrap;
  margin-left: 120px;
  margin-top: 40px;
  border: 3px solid red;
  padding: 20px 0 20px 20px;
}
.member h5 {
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 20px;
  padding-top: 0;
}
