.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #DAAB1D;
  height: 128px;
  width: 1440px;
  border: 1px solid #979797;
}
.header .logo {
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  margin: 10px 0px 10px 80px;
}
.header nav {
  margin: 0px 80px 0px 0px;
}
.header nav a {
  text-decoration: none;
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  margin: 10px;
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduction .hero-img {
  height: 603px;
  width: 1440px;
}
.introduction .tagline {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  text-align: center;
  background-color: #C0B594;
  padding-top: 120px;
  margin-top: -400px;
  height: 160px;
  width: 1264px;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
}
.introduction .product-feature {
  height: 547px;
  width: 1264px;
  background-color: #EDE3C2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.introduction .product-feature .btn {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  background-color: #488EAC;
  color: #EDE3C2;
  font-family: "Avenir Next";
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
}
.introduction .product-feature .text-content {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  padding: 5px 20px 5px 20px;
}
.introduction .product-feature .text-content .text {
  margin: 10px;
  background-color: #a8a8a1;
  padding: 10px;
}
.introduction .product-feature .text-content .text .title {
  background-color: goldenrod;
  border: solid black;
  padding: 20px;
  text-align: center;
}
.why-use {
  background-color: Tan;
}
.why-use .why-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  margin: 5px;
}
.why-use .why-content {
  display: flex;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}
.why-use .why-content .why-text {
  width: 30%;
}
.why-use .why-content .why-text li {
  list-style-type: none;
  margin: 0 0 10px 0;
}
.why-use .why-content .why-text-2 {
  width: 30%;
  text-align: center;
}
.why-use .why-content .why-text-2 .btn-2 {
  background-color: yellow;
  color: blue;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  text-align: center;
  padding: 5px 10px 5px 10px;
}
.meet-user {
  background-color: gray;
}
.meet-user .meet-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
.meet-user .meet-content {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: flex-start;
}
.meet-user .meet-content p {
  width: 70%;
}
.work {
  background-color: Cornsilk;
}
.work .work-title {
  font-family: 'Open Sans', sans-serif;
}
.work .work-content {
  font-family: 'Open Sans', sans-serif;
  display: flex;
}
