.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #DAAB1D;
  height: 128px;
  width: 1440px;
  border: 1px solid #979797;
}
.header .logo {
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  margin: 10px 0px 10px 80px;
}
.header nav {
  margin: 0px 80px 0px 0px;
}
.header nav a {
  text-decoration: none;
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  margin: 10px;
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduction .hero-img {
  height: 603px;
  width: 1440px;
}
.introduction .tagline {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  text-align: center;
  background-color: #C0B594;
  padding-top: 120px;
  margin-top: -400px;
  height: 160px;
  width: 1264px;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
}
.introduction .product-feature {
  height: 547px;
  width: 1264px;
  background-color: #EDE3C2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 0px;
}
.introduction .product-feature .btn {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  background-color: #488EAC;
  color: #EDE3C2;
  font-family: "Avenir Next";
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
}
.introduction .product-feature .text-content {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  padding: 5px 20px 5px 20px;
}
.introduction .product-feature .text-content .title {
  text-align: center;
  height: 68px;
  width: 368px;
  border: 3px solid #6E5710;
  border-radius: 3px;
  background-color: #DAAB1D;
  color: #41340C;
  font-family: "Avenir Next";
  font-size: 32px;
  line-height: 44px;
  padding-top: 20px;
  margin: 10px 10px 0 10px;
}
.introduction .product-feature .text-content .text {
  padding: 10px 0 0 10px;
  color: #41340C;
  font-family: "Avenir Next";
  font-size: 28px;
  line-height: 38px;
  margin: 0 10px 0 10px;
  height: 362px;
  width: 363px;
  background-color: #C0B594;
}
.why-use {
  height: 420px;
  width: 1440px;
  background-color: #C0B594;
  margin-top: 0px;
}
.why-use .why-title {
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  padding: 20px 0 0 80px;
}
.why-use .why-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0;
}
.why-use .why-content .why-text {
  width: 40%;
  margin-left: 50px;
}
.why-use .why-content .why-text li {
  list-style-type: none;
  color: #41340C;
  font-family: "Avenir Next";
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  padding-bottom: 20px;
}
.why-use .why-content .why-text-2 {
  width: 40%;
  margin-right: 120px;
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}
.why-use .why-content .why-text-2 .btn-2 {
  text-align: center;
  padding: 5px 10px 5px 10px;
  height: 66px;
  width: 240px;
  border-radius: 6px;
  background-color: #DAAB1D;
  color: #336277;
  font-family: "Avenir Next";
  font-size: 32px;
  font-weight: 600;
  margin-top: 0;
}
.meet-user {
  background-color: #E9E8E4;
}
.meet-user .meet-title {
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  padding: 20px 0 0 80px;
}
.meet-user .meet-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.meet-user .meet-content .text {
  margin: 30px;
  text-align: center;
}
.meet-user .meet-content p {
  width: 70%;
  color: #41340C;
  font-family: "Avenir Next";
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  margin-left: 70px;
}
.meet-user .meet-content p .name {
  text-align: right;
}
.work {
  background-color: Cornsilk;
}
.work .work-title {
  color: #1E3A46;
  font-family: "Avenir Next";
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  padding: 20px 0 0 80px;
}
.work .work-content {
  color: #41340C;
  font-family: "Avenir Next";
  font-size: 18px;
  line-height: 25px;
  display: flex;
  margin-left: 55px;
}
.work .work-content .text {
  margin: 30px;
  width: 100%;
}
.work .work-content .text button {
  border-radius: 10px;
  background-color: #488EAC;
  color: #EDE3C2;
  font-family: "Avenir Next";
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
  margin-left: 150px;
  margin-top: 100px;
}
