//Styling starts here. 

.container{
    width: 100%;
    // Medium screen styling
    @media (max-width: 800px) {
      width: 100%;
      background: black;
    };
  
    // Small screen styling
    @media (max-width: 500px) {
      width: 100%;
      background: green;
    };

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#DAAB1D;;
    height: 128px;	
    width: 100%;	
    border: 1px solid #979797;

    @media(max-with: 500px){
    .header{
        display: flex;
        flex-direction: column;
    };
    };

    .logo{
        color: #1E3A46;	
        font-family: "Avenir Next";	
        font-size: 32px;	
        font-weight: 600;	
        line-height: 44px;
        margin: 10px 0px 10px 80px;

        @media(max-with: 500px){
            .logo{
                color: pink;
                font-size: 20px;	
            };
            };
    }

    nav {
        margin: 0px 80px 0px 0px;
        
    }

    nav a{
        text-decoration: none;
        color: #1E3A46;	
        font-family: "Avenir Next";	
        font-size: 20px;	
        font-weight: bold;	
        line-height: 27px;
        margin: 10px;
    }

}

.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-img{
    height: 603px;	
    width: 100%;
    }

    .tagline{
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        text-align: center;
        background-color: #C0B594;
        padding-top: 120px;
        margin-top: -400px;
        height: 160px;	
        width: 80%;	
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
        color: #1E3A46;	
        font-family: "Avenir Next";	
        font-size: 28px;	
        font-weight: 600;	
        line-height: 38px;
    }
    

    .product-feature{
        height: 547px;	
        width: 80%;	
        background-color: #EDE3C2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        margin-bottom: 0px;

        .btn{
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
            padding: 5px 20px 5px 20px;	
            background-color: #488EAC;
            color: #EDE3C2;	
            font-family: "Avenir Next";	
            font-size: 24px;	
            font-weight: 600;	
            line-height: 33px;	
            text-align: center;
        }
    
    
        .text-content{
            display: flex;
            padding: 5px 20px 5px 20px;
            width: 100%;
    
    
            .title{
                text-align: center;
                height: 68px;	
                width: 100%;	
                border: 3px solid #6E5710;	
                border-radius: 3px;	
                background-color: #DAAB1D;
                color: #41340C;	
                font-family: "Avenir Next";	
                font-size: 32px;	
                line-height: 44px;
                padding-top: 20px;
                margin: 10px 10px 0 10px;
                }

                .text  {
                    padding: 10px 0 0 10px;
                    color: #41340C;	
                    font-family: "Avenir Next";	
                    font-size: 28px;	
                    line-height: 38px;
                    margin: 0 10px 0 10px;
                    height: 362px;	
                    width: 100%;	
                    background-color: #C0B594;
                }
            
            
        }
    }

}  


.why-use{
    height: 420px;	
    width: 100%;	
    background-color: #C0B594;
    margin-top: 0px;
    

    .why-title{
        color: #1E3A46;	
        font-family: "Avenir Next";	
        font-size: 28px;	
        font-weight: 600;	
        line-height: 38px;
        padding: 20px 0 0 80px;
    }

    .why-content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 0;


        .why-text{
            width: 100%;
            margin-left: 50px;

            li {
                list-style-type: none;
                color: #41340C;	
                font-family: "Avenir Next";	
                font-size: 24px;	
                font-weight: 600;	
                line-height: 33px;
                padding-bottom: 20px;
            }
        }

        .why-text-2{
            width: 100%;
            text-align: center;
            margin-right: 120px;
            color: #1E3A46;	
            font-family: "Avenir Next";	
            font-size: 28px;	
            line-height: 38px;	
            text-align: center;

            .btn-2{
                text-align: center;
                padding: 5px 10px 5px 10px;
                height: 66px;	
                width: 240px;	
                border-radius: 6px;	
                background-color: #DAAB1D;
                color: #336277;	
                font-family: "Avenir Next";	
                font-size: 32px;	
                font-weight: 600;
                margin-top: 0	
                
            }
        }
    }
}

.meet-user{
    background-color:#E9E8E4;

    .meet-title{
        color: #1E3A46;	
        font-family: "Avenir Next";	
        font-size: 28px;	
        font-weight: 600;	
        line-height: 38px;
        padding: 20px 0 0 80px;
    }

    .meet-content{
        display: flex;
        justify-content: center;
        align-items: center;

        .text{
            margin: 0 30px 30px 30px;
            text-align: center;
        }

        p{
            width: 70%;
            color: #41340C;	
            font-family: "Avenir Next";	
            font-size: 18px;	
            line-height: 25px;
            text-align: left;
            margin-left: 70px;

            .name{
                text-align: right;
            }
        }
    }
}

.work{
    background-color: Cornsilk;

    .work-title{
        color: #1E3A46;	
        font-family: "Avenir Next";	
        font-size: 28px;	
        font-weight: 600;	
        line-height: 38px;
        padding: 20px 0 0 80px;
    }

    .work-content{
        color: #41340C;	
        font-family: "Avenir Next";	
        font-size: 18px;	
        line-height: 25px;
        display: flex;
        margin-left: 55px;

        .text{
        width: 100%;
        margin: 0 20px 20px 20px;

        button{
            border-radius: 10px;	
            background-color: #488EAC;
            height: 48px;	
            width: 50%;
            color: #EDE3C2;	
            font-family: "Avenir Next";	
            font-size: 24px;	
            font-weight: 600;	
            line-height: 33px;	
            text-align: center;
            margin-left: 150px;
            margin-top: 100px;
        }
        }

    }

    
}
}

footer{
    height: 195px;	
    width: 100%;	
    background-color: #488EAC;
    display: flex;
    justify-content: space-evenly;

        h5{
            color: #EDE3C2;	
            font-family: "Avenir Next";	
            font-size: 20px;	
            font-weight: 600;	
            line-height: 27px;
        }

        li{
            color: #EDE3C2;	
            font-family: "Avenir Next";	
            font-size: 20px;	
            line-height: 27px;
            list-style-type: none;
        }

    

    
}
